body {
	background-color: black;
	cursor: url("penis_48.png"), pointer;
}

.header2 {
	background-color: black ;
	color: white;
	text-align: center;
	font-size: 50px;
	padding-top: 0px;
	margin-bottom: -25px;
	position: fixed;
	display: flex;
	bottom: 0 px;
	left: 0px;
	width: 100%;
	padding: 20px 0;
	border-bottom: 2px solid cadetblue;
	border-radius: 5px;
	margin-top: -55px;

}
hr {
	width: 200px;
	height: 1px;
	border-radius: 5px;
	background-color: white;
	border-color: black;
}
.hr0 {
	width: 99%;
	color: white;
	background-color: white;
}
.footer2 {
	background-color: black ;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-bottom: -25px;
	display: flex;
	bottom: 0 px;
	left: 0px;
	width: 100%;
	padding: 20px 0;
}
h1{
	font-family: 'Inter', sans-serif;
	font-family: 'Neucha', cursive;
	font-family: 'Oswald', sans-serif;
}
p {
	font-family: 'Inter', sans-serif;
	font-family: 'Neucha', cursive;
	font-family: 'Oswald', sans-serif;
}
pre {
	font-family: 'Inter', sans-serif;
	font-family: 'Neucha', cursive;
	font-family: 'Oswald', sans-serif;
}
span { 
	color: red;
}
.block4 {
	text-align: left;
	color: whitesmoke;
	font-size: 10px;
	width: 200px;
	margin-left: 50px;
}
.block1 {
	color: white;
	float: left;
	margin-top: 100px;
	width: 100%;
	padding-left: 15px;
	margin-right: 200px;
	font-size: 15px;
}
.block2 {
	color: burlywood;
	text-align: center;
	float: center;
	font-size: 40px;

}
.block3 {
	color: white;
	font-size: 30px;
	float: center;
	line-height: 1.5em;
	padding-top: 5px;
	display: flex;
	margin-top: -50px;
}
.img1 {
	margin-right: 250px;
	float: right;
	width: 350px;
	height: 350px;
}
.img2 {
	margin-top: 800px;
	margin-right: -490px;
	float: right;
	width: 290px;
	height: 290px;
	animation-name: blinking;
	animation-duration: 300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.block5 {
	float: right;
	margin-right: 150px;
	margin-top: 10px;
	animation-name: blinking2;
	animation-duration: 300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
img {
	border-radius: 350px;
}
.img-slide1 {
	float: left;
	width: 50px;
	height: 50px;

}
.img-slide2 {
	float: right;
	width: 50px;
	height: 50px;
	transform: rotate(180deg);
}
.img-penis {
	float: left;
	width: 50px;
	height: 50px;
}
a {
	text-decoration: none;
}
a:visited {
	color: cadetblue;
}
a:hover {
	color: red;
}
@keyframes blinking {
	0%{
		opacity: 1;
		margin-top: 800px;
		margin-right: -490px;
	}
	50%{
		opacity: 0;
		margin-top: 805px;
		margin-right: -490px;
	}
	60% {
		opacity: 1;
		margin-top: 805px;
		margin-right: -495px;
	}
	100% {
		opacity: 1;
		margin-top: 800px;
		margin-right: -490px;
	}
}
@keyframes blinking2 {
	0%{
		opacity: 1;
		margin-top: 10px;
		margin-right: 150px;
	}
	50%{
		opacity: 0;
		margin-top: 15px;
		margin-right: 150px;
	}
	60% {
		opacity: 1;
		margin-top: 15px;
		margin-right: 155px;
	}
	100% {
		opacity: 1;
		margin-top: 10px;
		margin-right: 150px;
	}
}
