body {
	background-color: black;
	cursor: url("penis_48.png"), pointer;
}
.header2 {
	background-color: black ;
	color: white;
	text-align: center;
	font-size: 50px;
	padding-top: spx;
	margin-bottom: -25px;
	position: fixed;
	display: flex;
	bottom: 0 px;
	left: 0px;
	width: 100%;
	padding: 20px 0;
	border-bottom: 2px solid cadetblue;
	border-radius: 5px;
	margin-top: -15px;

}
hr {
	width: 200px;
	height: 1px;
	border-radius: 5px;
	background-color: white;
	border-color: black;
}

.block1{
	padding-top: 150px;
}
.text1 {
	text-align: left;
	color: white;
	display: flex;
	padding-left: 20px;
	width: 1200px;

}
.text2 {
	text-align: left;
	color: white;
	display: flex;
	padding-left: 20px;
	width: 1200px;
}
.disklaimer {
	text-align: center;
	color: red;
	font-size: 50px;
}
.text3 {
	color: red;
	text-align: center;
	width: 800px;
	padding-left: 300px;
}
.img1 {
	width: 90px;
	display:flex;
	float: right;
	margin-right: 420px;

}
.img2 {
	width: 90px;
	display:flex;
	float: left;
	margin-left: 420px;
}
.footer2 {
	background-color: black ;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-bottom: -25px;
	display: flex;
	bottom: 0 px;
	left: 0px;
	width: 100%;
	padding: 20px 0;
}
.block2{
	display: flex; 
	font-size: 30px;
	float: left;
	width: 330px;
	margin-top: 20px;
}
.block3 {
	display: flex; 
	font-size: 40px;
	float: center;
	width: 550px;
}
.block4 {
	display: flex;
	font-size: 30px;
	float: right;
	width: 300px;
	margin-top: -385px;
	margin-right: 315px;
}
.block5 {
	display: flex;
	font-size: 30px;
	float: right;
	width: 330px;
	margin-top: -385px;
}
.hr0 {
	width: 99%;
}
li {
	font-family: 'Inter', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rubik Doodle Shadow', system-ui;
	color: cadetblue;
}
a {
	text-decoration: none;
}
a:visited {
	color: cadetblue;
}
a:hover {
	color: red;
}
h1 {
	font-family: 'Inter', sans-serif;
	font-family: 'Neucha', cursive;
	font-family: 'Oswald', sans-serif;
}